In [1]:
# Import library
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization
import seaborn as sns #Visualization
plt.rcParams['figure.figsize'] = [8,5]
plt.rcParams['font.size'] =14
plt.rcParams['font.weight']= 'bold'
plt.style.use('seaborn-whitegrid')

In [2]:
# Import dataset
# The happiness data files 2021 and trending
happiness_t_file= "Data/world-happiness-report.csv" #checked
happiness_file = "Data/world-happiness-report-2021.csv" #checked
covid_data = "Data/kaggle-covid/worldometer_data_test.csv" #checked
screen_time = "Data/Clean_Average_Screen_Time_per_Country_2021.csv" #checked
population_density = "Data/Country_Population_Land_Area_Density.csv" #checked
alcohol_consumption = "Data/alcohol_consumption_bycountry.csv" #checked
meat_consumption = "Data/Meat_consumption.csv" #checked
median_age = "Data/Median_age.csv" #checked
suicide_rate = "Data/Suicide_rate.csv" #checked

In [3]:
# Convert datasets to dataframes
happiness_t_file_df = pd.read_csv(happiness_t_file)
happiness_file_2021_df = pd.read_csv(happiness_file)
covid_data_df = pd.read_csv(covid_data)
screen_time_df = pd.read_csv(screen_time)
population_density_df = pd.read_csv(population_density)
alcohol_consumption_df = pd.read_csv(alcohol_consumption)
meat_consumption_df = pd.read_csv(meat_consumption)
median_age_df = pd.read_csv(median_age)
suicide_rate_df = pd.read_csv(suicide_rate)

# Clean happiness_t_file_df

In [4]:
happiness_t_file_df.head()

,Country name,year,Regional indicator,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [5]:
#rename columns in happiness_t_file dataframe
happiness_t_file_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
happiness_t_file_df.rename(columns = {'Regional indicator': 'Regional_Indicator'}, inplace = True)
happiness_t_file_df.rename(columns = {'Life Ladder': 'Ladder_Score'}, inplace = True)
happiness_t_file_df.rename(columns = {'Log GDP per capita': 'Logged_GDP_per_Capita'}, inplace = True)
happiness_t_file_df.rename(columns = {'Healthy life expectancy at birth': 'Healthy_Life_Expectancy'}, inplace = True)
happiness_t_file_df.rename(columns = {'Freedom to make life choices': 'Freedom_to_make_life_choices'}, inplace = True)
happiness_t_file_df.rename(columns = {'Perceptions of corruption': 'Perceptions_of_corruption'}, inplace = True)
happiness_t_file_df.rename(columns = {'Positive affect': 'Positive_Affect'}, inplace = True)
happiness_t_file_df.rename(columns = {'Negative affect': 'Negative_affect'}, inplace = True)

In [6]:
happiness_t_file_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_Affect,Negative_affect
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [7]:
# View column names in happiness_t_file_df
list(happiness_t_file_df)

['Country_Name',
 'year',
 'Regional_Indicator',
 'Ladder_Score',
 'Logged_GDP_per_Capita',
 'Social support',
 'Healthy_Life_Expectancy',
 'Freedom_to_make_life_choices',
 'Generosity',
 'Perceptions_of_corruption',
 'Positive_Affect',
 'Negative_affect']

# Clean happiness_file_2021_df dataframe

In [8]:
happiness_file_2021_df.head()

,Country name,year,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,...,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,2021,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,...,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,2021,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,...,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,2021,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,...,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,2021,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,...,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,2021,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,...,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [9]:
# rename column names
happiness_file_2021_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Regional indicator': 'Regional_Indicator'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Ladder score': 'Ladder_Score'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Logged GDP per capita': 'Logged_GDP_per_Capita'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Healthy life expectancy': 'Healthy_Life_Expectancy'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Freedom to make life choices': 'Freedom_to_make_life_choices'}, inplace = True)
happiness_file_2021_df.rename(columns = {'Perceptions of corruption': 'Perceptions_of_corruption'}, inplace = True)

In [10]:
happiness_file_2021_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,...,Generosity,Perceptions_of_corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,2021,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,...,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,2021,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,...,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,2021,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,...,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,2021,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,...,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,2021,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,...,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [11]:
#View all column names
list(happiness_file_2021_df)

['Country_Name',
 'year',
 'Regional_Indicator',
 'Ladder_Score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged_GDP_per_Capita',
 'Social support',
 'Healthy_Life_Expectancy',
 'Freedom_to_make_life_choices',
 'Generosity',
 'Perceptions_of_corruption',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual']

In [12]:
# combine both happiness scores datasets
happiness_score_df = happiness_t_file_df.append(happiness_file_2021_df)

C:\Users\Brittany\AppData\Local\Temp\ipykernel_14148\2024588666.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  happiness_score_df = happiness_t_file_df.append(happiness_file_2021_df)

In [13]:
# view total null values for columns
happiness_score_df.isna().sum()

Country_Name                                     0
year                                             0
Regional_Indicator                               0
Ladder_Score                                     0
Logged_GDP_per_Capita                           36
Social support                                  13
Healthy_Life_Expectancy                         55
Freedom_to_make_life_choices                    32
Generosity                                      89
Perceptions_of_corruption                      110
Positive_Affect                                171
Negative_affect                                165
Standard error of ladder score                1949
upperwhisker                                  1949
lowerwhisker                                  1949
Ladder score in Dystopia                      1949
Explained by: Log GDP per capita              1949
Explained by: Social support                  1949
Explained by: Healthy life expectancy         1949
Explained by: Freedom to make life choices    1949
Explained by: Generosity                      1949
Explained by: Perceptions of corruption       1949
Dystopia + residual                           1949
dtype: int64

# Clean alcohol_consumption_df dataset

In [14]:
alcohol_consumption_df.head()

  Country_Name  year                  Regional_Indicator   both   male  female
0       Latvia  2019          Central and Eastern Europe  13.19  21.61    6.31
1      Moldova  2019  Commonwealth of Independent States  12.85  20.61    5.89
2      Germany  2019                      Western Europe  12.79  19.71    6.15
3    Lithuania  2019          Central and Eastern Europe  12.78  20.60    6.30
4      Ireland  2019                      Western Europe  12.75  19.38    6.34

In [15]:
#rename columns
alcohol_consumption_df.rename(columns = {'both': 'alcohol_consumption_both_gender'}, inplace = True)
alcohol_consumption_df.rename(columns = {'male': 'alcohol_consumption_male'}, inplace = True)
alcohol_consumption_df.rename(columns = {'female': 'alcohol_consumption_female'}, inplace = True)

In [16]:
alcohol_consumption_df.head()

,Country_Name,year,Regional_Indicator,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Latvia,2019,Central and Eastern Europe,13.19,21.61,6.31
1,Moldova,2019,Commonwealth of Independent States,12.85,20.61,5.89
2,Germany,2019,Western Europe,12.79,19.71,6.15
3,Lithuania,2019,Central and Eastern Europe,12.78,20.60,6.30
4,Ireland,2019,Western Europe,12.75,19.38,6.34

In [17]:
happiness_scores_alchohol = pd.merge(happiness_score_df,alcohol_consumption_df,on=['Country_Name', 'year', 'Regional_Indicator'],how='outer')

In [18]:
happiness_scores_alchohol.head(100)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Azerbaijan,2008,Commonwealth of Independent States,4.817,9.465,0.684,62.64,0.601,-0.029,0.715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Azerbaijan,2009,Commonwealth of Independent States,4.574,9.534,0.736,63.02,0.498,-0.087,0.754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Azerbaijan,2010,Commonwealth of Independent States,4.219,9.569,0.687,63.40,0.501,-0.123,0.858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Azerbaijan,2011,Commonwealth of Independent States,4.680,9.540,0.725,63.64,0.537,-0.105,0.795,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Azerbaijan,2012,Commonwealth of Independent States,4.911,9.549,0.762,63.88,0.599,-0.140,0.763,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#view NA counts for combined columns
happiness_scores_alchohol.isna().sum()

Country_Name                                     0
year                                             0
Regional_Indicator                               0
Ladder_Score                                    48
Logged_GDP_per_Capita                           84
Social support                                  61
Healthy_Life_Expectancy                        103
Freedom_to_make_life_choices                    80
Generosity                                     137
Perceptions_of_corruption                      158
Positive_Affect                                219
Negative_affect                                213
Standard error of ladder score                1997
upperwhisker                                  1997
lowerwhisker                                  1997
Ladder score in Dystopia                      1997
Explained by: Log GDP per capita              1997
Explained by: Social support                  1997
Explained by: Healthy life expectancy         1997
Explained by: Freedom to make life choices    1997
Explained by: Generosity                      1997
Explained by: Perceptions of corruption       1997
Dystopia + residual                           1997
alcohol_consumption_both_gender               1961
alcohol_consumption_male                      1961
alcohol_consumption_female                    1961
dtype: int64

In [20]:
#compare NA values to dataset row count
len(happiness_scores_alchohol)

2146

In [21]:
#View rows that have non-NA values for for aclohol to ensure join worked correctly 
happiness_scores_alchohol[~happiness_scores_alchohol['alcohol_consumption_both_gender'].isnull()].head(50)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,alcohol_consumption_both_gender,alcohol_consumption_male,alcohol_consumption_female
11,Afghanistan,2019,South Asia,2.375,7.697,0.420,52.4,0.394,-0.108,0.924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.013,0.022,0.003
23,Albania,2019,Central and Eastern Europe,4.995,9.544,0.686,69.0,0.777,-0.099,0.914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.820,11.020,2.530
32,Algeria,2019,Middle East and North Africa,4.745,9.337,0.803,66.1,0.385,0.005,0.741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.630,1.090,0.170
50,Argentina,2019,Latin America and Caribbean,6.086,10.000,0.896,69.0,0.817,-0.211,0.830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.450,14.660,4.640
65,Armenia,2019,Commonwealth of Independent States,5.488,9.522,0.782,67.2,0.844,-0.172,0.583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.670,7.700,2.140
78,Australia,2019,North America and ANZ,7.234,10.815,0.943,73.9,0.918,0.121,0.430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.360,15.720,5.110
91,Austria,2019,Western Europe,7.195,10.939,0.964,73.3,0.903,0.060,0.457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.930,18.420,5.760
106,Azerbaijan,2019,Commonwealth of Independent States,5.173,9.575,0.887,65.8,0.854,-0.214,0.457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.980,1.670,0.320
116,Bahrain,2019,Middle East and North Africa,7.098,10.715,0.878,69.3,0.907,0.048,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.130,1.540,0.320
131,Bangladesh,2019,South Asia,5.114,8.467,0.673,64.8,0.902,-0.051,0.656,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.000
146,Belarus,2019,Commonwealth of Independent States,5.821,9.860,0.917,66.4,0.657,-0.186,0.546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.960,17.930,5.130
159,Belgium,2019,Western Europe,6.772,10.853,0.884,72.2,0.776,-0.172,0.672,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.800,16.700,5.130
173,Benin,2019,Sub-Saharan Africa,4.976,8.098,0.442,54.7,0.770,-0.016,0.698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.230,3.590,0.900
191,Bolivia,2019,Latin America and Caribbean,5.674,9.074,0.784,63.9,0.881,-0.086,0.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.910,6.000,1.840
204,Bosnia and Herzegovina,2019,Central and Eastern Europe,6.016,9.609,0.873,68.1,0.722,0.079,0.963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.810,12.950,2.960
217,Botswana,2019,Sub-Saharan Africa,3.471,9.785,0.774,59.6,0.833,-0.239,0.792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.610,11.100,2.610
231,Brazil,2019,Latin America and Caribbean,6.451,9.592,0.899,66.6,0.830,-0.062,0.762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.320,11.650,3.220
243,Bulgaria,2019,Central and Eastern Europe,5.108,10.047,0.948,67.0,0.822,-0.109,0.943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.460,19.860,5.590
257,Burkina Faso,2019,Sub-Saharan Africa,4.741,7.691,0.683,54.4,0.678,-0.004,0.729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.050,18.500,3.850
276,Cambodia,2019,Southeast Asia,4.998,8.387,0.759,62.0,0.957,0.013,0.828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.840,12.900,3.210
291,Cameroon,2019,Sub-Saharan Africa,4.937,8.203,0.711,53.5,0.712,-0.008,0.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.520,8.760,2.320
306,Canada,2019,North America and ANZ,7.109,10.800,0.925,73.8,0.912,0.112,0.436,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.810,13.730,4.010
326,Chad,2019,Sub-Saharan Africa,4.251,7.365,0.640,48.7,0.537,0.055,0.832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.260,2.070,0.460
340,Chile,2019,Latin America and Caribbean,5.942,10.095,0.869,70.0,0.659,-0.103,0.860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.950,13.740,4.360
355,China,2019,East Asia,5.144,9.688,0.822,69.6,0.927,-0.173,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.040,9.370,2.600
370,Colombia,2019,Latin America and Caribbean,6.350,9.598,0.873,68.0,0.822,-0.172,0.854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.450,8.840,2.270
377,Comoros,2019,Sub-Saharan Africa,4.609,8.033,0.632,57.5,0.538,0.077,0.762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.150,2.000,0.300
409,Costa Rica,2019,Latin America and Caribbean,6.998,9.885,0.906,71.5,0.927,-0.146,0.836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.070,6.490,1.680
421,Croatia,2019,Central and Eastern Europe,5.626,10.258,0.936,70.8,0.739,-0.137,0.932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.730,13.960,3.990
435,Cyprus,2019,Western Europe,6.137,10.585,0.776,73.9,0.740,-0.008,0.865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.800,16.920,4.760
462,Denmark,2019,Western Europe,7.693,10.954,0.958,72.7,0.963,0.020,0.174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.130,15.580,4.800
481,Dominican Republic,2019,Latin America and Caribbean,6.004,9.821,0.884,66.1,0.877,-0.123,0.746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.680,10.620,2.800
496,Ecuador,2019,Latin America and Caribbean,5.809,9.339,0.808,68.8,0.830,-0.115,0.839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.270,5.010,1.560
511,Egypt,2019,Middle East and North Africa,4.328,9.373,0.772,62.0,0.774,-0.199,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.140,0.240,0.037
526,El Salvador,2019,Latin America and Caribbean,6.455,9.080,0.764,66.4,0.877,-0.109,0.682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.090,6.910,1.750
540,Estonia,2019,Central and Eastern Europe,6.035,10.511,0.934,68.8,0.887,-0.096,0.576,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.750,17.350,5.060
549,Ethiopia,2019,Sub-Saharan Africa,4.100,7.705,0.748,59.0,0.754,0.053,0.732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.200,3.660,0.780
562,Finland,2019,Western Europe,7.780,10.792,0.937,72.0,0.948,-0.052,0.195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.650,16.560,4.990
577,France,2019,Western Europe,6.690,10.740,0.958,74.0,0.827,-0.133,0.568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.230,19.210,5.830
587,Gabon,2019,Sub-Saharan Africa,4.914,9.607,0.763,60.2,0.736,-0.203,0.846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.080,12.240,3.700
590,Gambia,2019,Sub-Saharan Africa,5.164,7.699,0.694,55.3,0.677,0.410,0.798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.360,5.730,1.090
604,Georgia,2019,Commonwealth of Independent States,4.892,9.617,0.675,64.3,0.811,-0.260,0.647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.470,15.610,4.110
619,Germany,2019,Western Europe,7.035,10.893,0.886,72.5,0.885,0.057,0.462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.790,19.710,6.150
634,Ghana,2019,Sub-Saharan Africa,4.967,8.596,0.746,57.6,0.787,0.116,0.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.780,4.370,1.160
648,Greece,2019,Western Europe,5.952,10.319,0.891,72.6,0.614,-0.289,0.848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.500,16.720,4.600
663,Guatemala,2019,Latin America and Caribbean,6.262,9.064,0.774,65.1,0.901,-0.062,0.773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.630,2.630,0.690
672,Guinea,2019,Sub-Saharan Africa,4.768,7.849,0.655,55.5,0.691,0.097,0.756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.090,1.940,0.360
698,Honduras,2019,Latin America and Caribbean,5.930,8.653,0.797,67.4,0.846,0.063,0.815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.930,6.340,1.570
722,Hungary,2019,Central and Eastern Europe,6.000,10.393,0.947,68.0,0.798,-0.195,0.884,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.070,17.660,5.240
730,Iceland,2019,Western Europe,7.533,10.931,0.982,73.0,0.959,NaN,0.699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.210,14.030,4.390

# Clean covid_data_df dataset

In [22]:
covid_data_df.head()

,Country name,year,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,2020,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,2020,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,2020,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,2020,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,2020,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [23]:
#View all column names
list(covid_data_df)

['Country name',
 'year',
 'Continent',
 'Population',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'WHO Region']

In [24]:
#rename columns
covid_data_df.rename(columns = {'Country name': 'Country_Name'}, inplace = True)
covid_data_df.rename(columns = {'Continent': 'Regional_Indicator'}, inplace = True)
covid_data_df.rename(columns = {'TotalCases': 'COVID_TotalCases'}, inplace = True)
covid_data_df.rename(columns = {'NewCases': 'COVID_NewCases'}, inplace = True)
covid_data_df.rename(columns = {'TotalDeaths': 'COVID_TotalDeaths'}, inplace = True)
covid_data_df.rename(columns = {'NewDeaths': 'COVID_NewDeaths'}, inplace = True)
covid_data_df.rename(columns = {'TotalRecovered': 'COVID_TotalRecovered'}, inplace = True)
covid_data_df.rename(columns = {'NewRecovered': 'COVID_NewRecovered'}, inplace = True)
covid_data_df.rename(columns = {'ActiveCases': 'COVID_ActiveCases'}, inplace = True)
covid_data_df.rename(columns = {'Serious,Critical': 'COVID_Serious/Critical'}, inplace = True)
covid_data_df.rename(columns = {'Tot Cases/1M pop': 'COVID_Tot Cases/1M pop'}, inplace = True)
covid_data_df.rename(columns = {'Deaths/1M pop': 'COVID_Deaths/1M pop'}, inplace = True)
covid_data_df.rename(columns = {'TotalTests': 'COVID_TotalTests'}, inplace = True)
covid_data_df.rename(columns = {'Tests/1M pop': 'COVID_Tests/1M pop'}, inplace = True)

In [25]:
covid_data_df.head()

,Country_Name,year,Regional_Indicator,Population,COVID_TotalCases,COVID_NewCases,COVID_TotalDeaths,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,USA,2020,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,2020,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,2020,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,2020,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,2020,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [26]:
happiness_scores_alchohol_covid_df = pd.merge(happiness_scores_alchohol,covid_data_df,on=['Country_Name', 'year', 'Regional_Indicator'],how='outer')

In [27]:
happiness_scores_alchohol_covid_df.head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,2013,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2014,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,2015,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,2016,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,2017,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#view NA counts for combined columns
happiness_scores_alchohol_covid_df.isna().sum()

Country_Name                                     0
year                                             0
Regional_Indicator                               1
Ladder_Score                                   257
Logged_GDP_per_Capita                          293
Social support                                 270
Healthy_Life_Expectancy                        312
Freedom_to_make_life_choices                   289
Generosity                                     346
Perceptions_of_corruption                      367
Positive_Affect                                428
Negative_affect                                422
Standard error of ladder score                2206
upperwhisker                                  2206
lowerwhisker                                  2206
Ladder score in Dystopia                      2206
Explained by: Log GDP per capita              2206
Explained by: Social support                  2206
Explained by: Healthy life expectancy         2206
Explained by: Freedom to make life choices    2206
Explained by: Generosity                      2206
Explained by: Perceptions of corruption       2206
Dystopia + residual                           2206
alcohol_consumption_both_gender               2170
alcohol_consumption_male                      2170
alcohol_consumption_female                    2170
Population                                    2147
COVID_TotalCases                              2146
COVID_NewCases                                2351
COVID_TotalDeaths                             2167
COVID_NewDeaths                               2352
COVID_TotalRecovered                          2150
COVID_NewRecovered                            2352
COVID_ActiveCases                             2150
COVID_Serious/Critical                        2233
COVID_Tot Cases/1M pop                        2147
COVID_Deaths/1M pop                           2168
COVID_TotalTests                              2164
COVID_Tests/1M pop                            2164
WHO Region                                    2171
dtype: int64

In [29]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid_df)

2355

In [30]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid_df[~happiness_scores_alchohol_covid_df['COVID_TotalCases'].isnull()].head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_NewDeaths,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region
2146,USA,2020,North America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
2147,Brazil,2020,South America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2148,India,2020,Asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
2149,Russia,2020,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
2150,South Africa,2020,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

# Clean screen_time_df dataset

In [31]:
screen_time_df.head()

  Country_Clean Country_Source  Average screen time
0  South Africa   South Africa                10.46
1   Philippines    Philippines                10.27
2        Brazil         Brazil                10.19
3      Colombia       Colombia                10.03
4     Argentina      Argentina                 9.38

In [32]:
screen_time_df = screen_time_df.drop(columns="Country_Source")
screen_time_df.head()

  Country_Clean  Average screen time
0  South Africa                10.46
1   Philippines                10.27
2        Brazil                10.19
3      Colombia                10.03
4     Argentina                 9.38

In [33]:
#View all column names
list(screen_time_df)

['Country_Clean', 'Average screen time']

In [34]:
#rename columns
screen_time_df.rename(columns = {'Country_Clean': 'Country_Name'}, inplace = True)
screen_time_df.rename(columns = {'Average screen time': 'Average_screen_time'}, inplace = True)

In [35]:
screen_time_df.head()

   Country_Name  Average_screen_time
0  South Africa                10.46
1   Philippines                10.27
2        Brazil                10.19
3      Colombia                10.03
4     Argentina                 9.38

In [36]:
#combine datasets
happiness_scores_alchohol_covid__screen_df = pd.merge(happiness_scores_alchohol_covid_df,screen_time_df,on=['Country_Name'],how='outer')

In [37]:
happiness_scores_alchohol_covid__screen_df.head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time
0,Afghanistan,2008,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,2013,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2014,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,2015,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,2016,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,2017,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_df.isna().sum()

Country_Name                                     0
year                                             0
Regional_Indicator                               1
Ladder_Score                                   257
Logged_GDP_per_Capita                          293
Social support                                 270
Healthy_Life_Expectancy                        312
Freedom_to_make_life_choices                   289
Generosity                                     346
Perceptions_of_corruption                      367
Positive_Affect                                428
Negative_affect                                422
Standard error of ladder score                2206
upperwhisker                                  2206
lowerwhisker                                  2206
Ladder score in Dystopia                      2206
Explained by: Log GDP per capita              2206
Explained by: Social support                  2206
Explained by: Healthy life expectancy         2206
Explained by: Freedom to make life choices    2206
Explained by: Generosity                      2206
Explained by: Perceptions of corruption       2206
Dystopia + residual                           2206
alcohol_consumption_both_gender               2170
alcohol_consumption_male                      2170
alcohol_consumption_female                    2170
Population                                    2147
COVID_TotalCases                              2146
COVID_NewCases                                2351
COVID_TotalDeaths                             2167
COVID_NewDeaths                               2352
COVID_TotalRecovered                          2150
COVID_NewRecovered                            2352
COVID_ActiveCases                             2150
COVID_Serious/Critical                        2233
COVID_Tot Cases/1M pop                        2147
COVID_Deaths/1M pop                           2168
COVID_TotalTests                              2164
COVID_Tests/1M pop                            2164
WHO Region                                    2171
Average_screen_time                           1664
dtype: int64

In [39]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_df)

2355

In [40]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_df[~happiness_scores_alchohol_covid__screen_df['Average_screen_time'].isnull()].head(50)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalRecovered,COVID_NewRecovered,COVID_ActiveCases,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time
45,Argentina,2006,Latin America and Caribbean,6.313,9.942,0.938,66.82,0.733,-0.157,0.852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
46,Argentina,2007,Latin America and Caribbean,6.073,10.018,0.862,66.94,0.653,-0.141,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
47,Argentina,2008,Latin America and Caribbean,5.961,10.048,0.892,67.06,0.678,-0.132,0.865,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
48,Argentina,2009,Latin America and Caribbean,6.424,9.977,0.919,67.18,0.637,-0.130,0.885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
49,Argentina,2010,Latin America and Caribbean,6.441,10.066,0.927,67.30,0.730,-0.126,0.855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
50,Argentina,2011,Latin America and Caribbean,6.776,10.112,0.889,67.48,0.816,-0.174,0.755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
51,Argentina,2012,Latin America and Caribbean,6.468,10.091,0.902,67.66,0.747,-0.148,0.817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
52,Argentina,2013,Latin America and Caribbean,6.582,10.103,0.910,67.84,0.737,-0.130,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
53,Argentina,2014,Latin America and Caribbean,6.671,10.067,0.918,68.02,0.745,-0.164,0.854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
54,Argentina,2015,Latin America and Caribbean,6.697,10.083,0.926,68.20,0.881,-0.174,0.851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
55,Argentina,2016,Latin America and Caribbean,6.427,10.051,0.883,68.40,0.848,-0.192,0.851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
56,Argentina,2017,Latin America and Caribbean,6.039,10.067,0.907,68.60,0.832,-0.186,0.841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
57,Argentina,2018,Latin America and Caribbean,5.793,10.032,0.900,68.80,0.846,-0.211,0.855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
58,Argentina,2019,Latin America and Caribbean,6.086,10.000,0.896,69.00,0.817,-0.211,0.830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
59,Argentina,2020,Latin America and Caribbean,5.901,9.850,0.897,69.20,0.823,-0.122,0.816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
60,Argentina,2021,Latin America and Caribbean,5.929,9.962,0.898,69.00,0.828,-0.182,0.834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.38
61,Argentina,2020,South America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas,9.38
78,Australia,2005,North America and ANZ,7.341,10.659,0.968,71.40,0.935,NaN,0.390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
79,Australia,2007,North America and ANZ,7.285,10.703,0.965,71.72,0.891,0.347,0.513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
80,Australia,2008,North America and ANZ,7.254,10.719,0.947,71.88,0.916,0.305,0.431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
81,Australia,2010,North America and ANZ,7.450,10.722,0.955,72.20,0.932,0.317,0.366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
82,Australia,2011,North America and ANZ,7.406,10.733,0.967,72.30,0.945,0.369,0.382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
83,Australia,2012,North America and ANZ,7.196,10.754,0.945,72.40,0.935,0.274,0.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
84,Australia,2013,North America and ANZ,7.364,10.762,0.928,72.50,0.933,0.269,0.432,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
85,Australia,2014,North America and ANZ,7.289,10.772,0.924,72.60,0.923,0.319,0.442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
86,Australia,2015,North America and ANZ,7.309,10.779,0.952,72.70,0.922,0.332,0.357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
87,Australia,2016,North America and ANZ,7.250,10.791,0.942,73.00,0.922,0.239,0.399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
88,Australia,2017,North America and ANZ,7.257,10.798,0.950,73.30,0.911,0.317,0.411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
89,Australia,2018,North America and ANZ,7.177,10.811,0.940,73.60,0.916,0.146,0.405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
90,Australia,2019,North America and ANZ,7.234,10.815,0.943,73.90,0.918,0.121,0.430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
91,Australia,2020,North America and ANZ,7.137,10.760,0.937,74.20,0.905,0.210,0.491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
92,Australia,2021,North America and ANZ,7.183,10.796,0.940,73.90,0.914,0.159,0.442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.13
93,Australia,2020,Australia/Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,6.13
94,Austria,2006,Western Europe,7.122,10.842,0.936,70.76,0.941,0.302,0.490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
95,Austria,2008,Western Europe,7.181,10.887,0.935,71.08,0.879,0.291,0.614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
96,Austria,2010,Western Europe,7.303,10.861,0.914,71.40,0.896,0.131,0.546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
97,Austria,2011,Western Europe,7.471,10.887,0.944,71.54,0.939,0.132,0.703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
98,Austria,2012,Western Europe,7.401,10.889,0.945,71.68,0.920,0.118,0.771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
99,Austria,2013,Western Europe,7.499,10.883,0.950,71.82,0.922,0.168,0.679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
100,Austria,2014,Western Europe,6.950,10.882,0.899,71.96,0.885,0.118,0.567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
101,Austria,2015,Western Europe,7.076,10.881,0.928,72.10,0.900,0.099,0.557,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
102,Austria,2016,Western Europe,7.048,10.891,0.926,72.40,0.889,0.080,0.524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
103,Austria,2017,Western Europe,7.294,10.908,0.906,72.70,0.890,0.133,0.518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
104,Austria,2018,Western Europe,7.396,10.928,0.912,73.00,0.904,0.053,0.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
105,Austria,2019,Western Europe,7.195,10.939,0.964,73.30,0.903,0.060,0.457,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
106,Austria,2020,Western Europe,7.213,10.851,0.925,73.60,0.912,0.011,0.464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
107,Austria,2021,Western Europe,7.268,10.906,0.934,73.30,0.908,0.042,0.481,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.42
108,Austria,2020,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19596.0,NaN,1381.0,25.0,2408.0,80.0,937275.0,104008.0,Europe,5.42
171,Belgium,2005,Western Europe,7.262,10.745,0.935,69.90,0.924,NaN,0.598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.44
172,Belgium,2007,Western Europe,7.219,10.792,0.922,70.26,0.901,0.069,0.721,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.44

# Clean population_density_df dataframe

In [41]:
population_density_df.head()

       Country Population (2020) Land Area (Km²) Density (P/Km²)
0  Afghanistan        38,041,750         652,230           56.94
1      Albania         2,854,190          28,748          104.61
2      Algeria        43,053,050       2,381,740           17.73
3      Andorra            77,140             468          163.84
4       Angola        31,825,290       1,246,700           24.71

In [42]:
#View all column names
list(population_density_df)

['Country', 'Population (2020)', 'Land Area (Km²)', 'Density (P/Km²)']

In [43]:
#rename columns
population_density_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
population_density_df.rename(columns = {'Population (2020)': 'Population_2020'}, inplace = True)
population_density_df.rename(columns = {'Land Area (Km²)': 'Land_Area_Km'}, inplace = True)
population_density_df.rename(columns = {'Density (P/Km²)': 'Density_P/Km'}, inplace = True)

In [44]:
population_density_df.head()

  Country_Name Population_2020 Land_Area_Km Density_P/Km
0  Afghanistan      38,041,750      652,230        56.94
1      Albania       2,854,190       28,748       104.61
2      Algeria      43,053,050    2,381,740        17.73
3      Andorra          77,140          468       163.84
4       Angola      31,825,290    1,246,700        24.71

In [45]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_df = pd.merge(happiness_scores_alchohol_covid__screen_df,population_density_df,on=['Country_Name'],how='outer')

In [46]:
happiness_scores_alchohol_covid__screen_density_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94

In [47]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_df.isna().sum()

Country_Name                                     0
year                                            11
Regional_Indicator                              12
Ladder_Score                                   268
Logged_GDP_per_Capita                          304
Social support                                 281
Healthy_Life_Expectancy                        323
Freedom_to_make_life_choices                   300
Generosity                                     357
Perceptions_of_corruption                      378
Positive_Affect                                439
Negative_affect                                433
Standard error of ladder score                2217
upperwhisker                                  2217
lowerwhisker                                  2217
Ladder score in Dystopia                      2217
Explained by: Log GDP per capita              2217
Explained by: Social support                  2217
Explained by: Healthy life expectancy         2217
Explained by: Freedom to make life choices    2217
Explained by: Generosity                      2217
Explained by: Perceptions of corruption       2217
Dystopia + residual                           2217
alcohol_consumption_both_gender               2181
alcohol_consumption_male                      2181
alcohol_consumption_female                    2181
Population                                    2158
COVID_TotalCases                              2157
COVID_NewCases                                2362
COVID_TotalDeaths                             2178
COVID_NewDeaths                               2363
COVID_TotalRecovered                          2161
COVID_NewRecovered                            2363
COVID_ActiveCases                             2161
COVID_Serious/Critical                        2244
COVID_Tot Cases/1M pop                        2158
COVID_Deaths/1M pop                           2179
COVID_TotalTests                              2175
COVID_Tests/1M pop                            2175
WHO Region                                    2182
Average_screen_time                           1675
Population_2020                                186
Land_Area_Km                                   186
Density_P/Km                                   186
dtype: int64

In [48]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_df)

2366

In [49]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_df[~happiness_scores_alchohol_covid__screen_density_df['Density_P/Km'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Serious/Critical,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94

# Clean meat_consumption_df dataframe

In [50]:
meat_consumption_df.head()

               Country  Meat consumption ISO-code
0          Afghanistan              17.3      AFG
1              Algeria              18.3      DZA
2       American Samoa              24.9      ASM
3               Angola              19.0      AGO
4  Antigua and Barbuda              56.0      ATG

In [51]:
#View all column names
list(meat_consumption_df)

['Country', 'Meat consumption', 'ISO-code']

In [52]:
#drop unwanted columns 
meat_consumption_df = meat_consumption_df.drop(columns="ISO-code")
meat_consumption_df.head()

               Country  Meat consumption
0          Afghanistan              17.3
1              Algeria              18.3
2       American Samoa              24.9
3               Angola              19.0
4  Antigua and Barbuda              56.0

In [53]:
#rename columns
meat_consumption_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
meat_consumption_df.rename(columns = {'Meat consumption': 'Meat_Consumption'}, inplace = True)

In [54]:
meat_consumption_df.head()

          Country_Name  Meat_Consumption
0          Afghanistan              17.3
1              Algeria              18.3
2       American Samoa              24.9
3               Angola              19.0
4  Antigua and Barbuda              56.0

In [55]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_meat_df = pd.merge(happiness_scores_alchohol_covid__screen_density_df,meat_consumption_df,on=['Country_Name'],how='outer')

In [56]:
happiness_scores_alchohol_covid__screen_density_meat_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3

In [57]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_meat_df.isna().sum()

Country_Name                                     0
year                                            20
Regional_Indicator                              21
Ladder_Score                                   277
Logged_GDP_per_Capita                          313
Social support                                 290
Healthy_Life_Expectancy                        332
Freedom_to_make_life_choices                   309
Generosity                                     366
Perceptions_of_corruption                      387
Positive_Affect                                448
Negative_affect                                442
Standard error of ladder score                2226
upperwhisker                                  2226
lowerwhisker                                  2226
Ladder score in Dystopia                      2226
Explained by: Log GDP per capita              2226
Explained by: Social support                  2226
Explained by: Healthy life expectancy         2226
Explained by: Freedom to make life choices    2226
Explained by: Generosity                      2226
Explained by: Perceptions of corruption       2226
Dystopia + residual                           2226
alcohol_consumption_both_gender               2190
alcohol_consumption_male                      2190
alcohol_consumption_female                    2190
Population                                    2167
COVID_TotalCases                              2166
COVID_NewCases                                2371
COVID_TotalDeaths                             2187
COVID_NewDeaths                               2372
COVID_TotalRecovered                          2170
COVID_NewRecovered                            2372
COVID_ActiveCases                             2170
COVID_Serious/Critical                        2253
COVID_Tot Cases/1M pop                        2167
COVID_Deaths/1M pop                           2188
COVID_TotalTests                              2184
COVID_Tests/1M pop                            2184
WHO Region                                    2191
Average_screen_time                           1684
Population_2020                                195
Land_Area_Km                                   195
Density_P/Km                                   195
Meat_Consumption                               206
dtype: int64

In [58]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_meat_df)

2375

In [59]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_meat_df[~happiness_scores_alchohol_covid__screen_density_meat_df['Meat_Consumption'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Tot Cases/1M pop,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3

# Clean median_age_df dataset

In [60]:
median_age_df.head()

          Country  Median age ISO-code
0     Afghanistan        27.4      AFG
1         Albania        32.9      ALB
2         Algeria        28.1      DZA
3  American Samoa        25.5      ASM
4         Andorra        44.3      AND

In [61]:
#View all column names
list(median_age_df)

['Country', 'Median age', 'ISO-code']

In [62]:
#drop unwanted columns 
median_age_df = median_age_df.drop(columns="ISO-code")
median_age_df.head()

          Country  Median age
0     Afghanistan        27.4
1         Albania        32.9
2         Algeria        28.1
3  American Samoa        25.5
4         Andorra        44.3

In [63]:
#rename columns
median_age_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
median_age_df.rename(columns = {'Median age': 'Median_Age'}, inplace = True)

In [64]:
median_age_df.head()

     Country_Name  Median_Age
0     Afghanistan        27.4
1         Albania        32.9
2         Algeria        28.1
3  American Samoa        25.5
4         Andorra        44.3

In [65]:
#combine datasets
happiness_scores_alchohol_covid__screen_density_meat_age_df = pd.merge(happiness_scores_alchohol_covid__screen_density_meat_df,median_age_df,on=['Country_Name'],how='outer')

In [66]:
happiness_scores_alchohol_covid__screen_density_meat_age_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4

In [67]:
#view NA counts for combined columns
happiness_scores_alchohol_covid__screen_density_meat_age_df.isna().sum()

Country_Name                                     0
year                                            34
Regional_Indicator                              35
Ladder_Score                                   291
Logged_GDP_per_Capita                          327
Social support                                 304
Healthy_Life_Expectancy                        346
Freedom_to_make_life_choices                   323
Generosity                                     380
Perceptions_of_corruption                      401
Positive_Affect                                462
Negative_affect                                456
Standard error of ladder score                2240
upperwhisker                                  2240
lowerwhisker                                  2240
Ladder score in Dystopia                      2240
Explained by: Log GDP per capita              2240
Explained by: Social support                  2240
Explained by: Healthy life expectancy         2240
Explained by: Freedom to make life choices    2240
Explained by: Generosity                      2240
Explained by: Perceptions of corruption       2240
Dystopia + residual                           2240
alcohol_consumption_both_gender               2204
alcohol_consumption_male                      2204
alcohol_consumption_female                    2204
Population                                    2181
COVID_TotalCases                              2180
COVID_NewCases                                2385
COVID_TotalDeaths                             2201
COVID_NewDeaths                               2386
COVID_TotalRecovered                          2184
COVID_NewRecovered                            2386
COVID_ActiveCases                             2184
COVID_Serious/Critical                        2267
COVID_Tot Cases/1M pop                        2181
COVID_Deaths/1M pop                           2202
COVID_TotalTests                              2198
COVID_Tests/1M pop                            2198
WHO Region                                    2205
Average_screen_time                           1698
Population_2020                                209
Land_Area_Km                                   209
Density_P/Km                                   209
Meat_Consumption                               220
Median_Age                                     150
dtype: int64

In [68]:
#compare NA values to dataset row count
len(happiness_scores_alchohol_covid__screen_density_meat_age_df)

2389

In [69]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_scores_alchohol_covid__screen_density_meat_age_df[~happiness_scores_alchohol_covid__screen_density_meat_age_df['Median_Age'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_Deaths/1M pop,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4

# clean suicide_rate_df dataframe

In [70]:
suicide_rate_df.head()

               Country  Suicide rate ISO-code
0          Afghanistan           6.4      AFG
1              Albania           5.6      ALB
2              Algeria           3.3      DZA
3               Angola           8.9      AGO
4  Antigua and Barbuda           0.5      ATG

In [71]:
#View all column names
list(suicide_rate_df)

['Country', 'Suicide rate', 'ISO-code']

In [72]:
#drop unwanted columns 
suicide_rate_df = suicide_rate_df.drop(columns="ISO-code")
suicide_rate_df.head()

               Country  Suicide rate
0          Afghanistan           6.4
1              Albania           5.6
2              Algeria           3.3
3               Angola           8.9
4  Antigua and Barbuda           0.5

In [73]:
#rename columns
suicide_rate_df.rename(columns = {'Country': 'Country_Name'}, inplace = True)
suicide_rate_df.rename(columns = {'Suicide rate': 'Suicide_rate'}, inplace = True)

In [74]:
suicide_rate_df.head()

          Country_Name  Suicide_rate
0          Afghanistan           6.4
1              Albania           5.6
2              Algeria           3.3
3               Angola           8.9
4  Antigua and Barbuda           0.5

In [75]:
#combine datasets
happiness_data_all_df = pd.merge(happiness_scores_alchohol_covid__screen_density_meat_age_df,suicide_rate_df,on=['Country_Name'],how='outer')

In [76]:
happiness_data_all_df.head()

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age,Suicide_rate
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4

In [77]:
#view NA counts for combined columns
happiness_data_all_df.isna().sum()

Country_Name                                     0
year                                            34
Regional_Indicator                              35
Ladder_Score                                   291
Logged_GDP_per_Capita                          327
Social support                                 304
Healthy_Life_Expectancy                        346
Freedom_to_make_life_choices                   323
Generosity                                     380
Perceptions_of_corruption                      401
Positive_Affect                                462
Negative_affect                                456
Standard error of ladder score                2240
upperwhisker                                  2240
lowerwhisker                                  2240
Ladder score in Dystopia                      2240
Explained by: Log GDP per capita              2240
Explained by: Social support                  2240
Explained by: Healthy life expectancy         2240
Explained by: Freedom to make life choices    2240
Explained by: Generosity                      2240
Explained by: Perceptions of corruption       2240
Dystopia + residual                           2240
alcohol_consumption_both_gender               2204
alcohol_consumption_male                      2204
alcohol_consumption_female                    2204
Population                                    2181
COVID_TotalCases                              2180
COVID_NewCases                                2385
COVID_TotalDeaths                             2201
COVID_NewDeaths                               2386
COVID_TotalRecovered                          2184
COVID_NewRecovered                            2386
COVID_ActiveCases                             2184
COVID_Serious/Critical                        2267
COVID_Tot Cases/1M pop                        2181
COVID_Deaths/1M pop                           2202
COVID_TotalTests                              2198
COVID_Tests/1M pop                            2198
WHO Region                                    2205
Average_screen_time                           1698
Population_2020                                209
Land_Area_Km                                   209
Density_P/Km                                   209
Meat_Consumption                               220
Median_Age                                     150
Suicide_rate                                   185
dtype: int64

In [78]:
#compare NA values to dataset row count
len(happiness_data_all_df)

2389

In [79]:
#View rows that have non-NA values for COVID to ensure join worked correctly 
happiness_data_all_df[~happiness_data_all_df['Suicide_rate'].isnull()].head(10)

,Country_Name,year,Regional_Indicator,Ladder_Score,Logged_GDP_per_Capita,Social support,Healthy_Life_Expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,...,COVID_TotalTests,COVID_Tests/1M pop,WHO Region,Average_screen_time,Population_2020,Land_Area_Km,Density_P/Km,Meat_Consumption,Median_Age,Suicide_rate
0,Afghanistan,2008.0,South Asia,3.724,7.370,0.451,50.80,0.718,0.168,0.882,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
1,Afghanistan,2009.0,South Asia,4.402,7.540,0.552,51.20,0.679,0.190,0.850,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
2,Afghanistan,2010.0,South Asia,4.758,7.647,0.539,51.60,0.600,0.121,0.707,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
3,Afghanistan,2011.0,South Asia,3.832,7.620,0.521,51.92,0.496,0.162,0.731,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
4,Afghanistan,2012.0,South Asia,3.783,7.705,0.521,52.24,0.531,0.236,0.776,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
5,Afghanistan,2013.0,South Asia,3.572,7.725,0.484,52.56,0.578,0.061,0.823,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
6,Afghanistan,2014.0,South Asia,3.131,7.718,0.526,52.88,0.509,0.104,0.871,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
7,Afghanistan,2015.0,South Asia,3.983,7.702,0.529,53.20,0.389,0.080,0.881,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
8,Afghanistan,2016.0,South Asia,4.220,7.697,0.559,53.00,0.523,0.042,0.793,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4
9,Afghanistan,2017.0,South Asia,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,...,NaN,NaN,NaN,NaN,"38,041,750","652,230",56.94,17.3,27.4,6.4

# Export Clean Dataset

In [80]:
#export DataFrame to CSV file
happiness_t_file_df.to_csv('Data/world-happiness-report-clean.csv', index=False)

In [81]:
#export DataFrame to CSV file
happiness_file_2021_df.to_csv('Data/world-happiness-report-2021-clean.csv', index=False)

In [82]:
#export DataFrame to CSV file
alcohol_consumption_df.to_csv('Data/alcohol_consumption_bycountry-clean.csv', index=False)

In [83]:
#export DataFrame to CSV file
covid_data_df.to_csv('Data/kaggle-covid/worldometer_data_clean.csv', index=False)

In [84]:
#export DataFrame to CSV file
screen_time_df.to_csv('Data/Clean_Average_Screen_Time_per_Country_2021_clean.csv', index=False)

In [85]:
#export DataFrame to CSV file
population_density_df.to_csv('Data/Country_Population_Land_Area_Density_clean.csv', index=False)

In [86]:
#export DataFrame to CSV file
meat_consumption_df.to_csv('Data/Meat_consumption_clean.csv', index=False)

In [87]:
#export DataFrame to CSV file
median_age_df.to_csv('Data/Median_age_clean.csv', index=False)

In [88]:
#export DataFrame to CSV file
suicide_rate_df.to_csv('Data/Suicide_rate_clean.csv', index=False)